<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
				http://www.springframework.org/schema/context 
				http://www.springframework.org/schema/context/spring-context-2.5.xsd
				">
	<!-- 用户登录的service-->
	<bean id="loginService" parent="baseService" class="com.dlts.login.service.LoginService"></bean>
	<!--用户的service-->
	<bean id="userService" parent="baseService" class="com.dlts.admininfo.servcie.UserService"></bean>
	<!--用户角色service-->
	<bean id="adminRoleService" parent="baseService" class="com.dlts.adminrole.service.AdminRoleService"></bean>
	<!--角色service-->
	<bean id="roleService" parent="baseService" class="com.dlts.role.service.RoleService"></bean>
	<!--功能service-->
	<bean id="functionService" parent="baseService" class="com.dlts.function.service.FunctionService"></bean>
	<!--模块service-->
	<bean id="moduleService" parent="baseService" class="com.dlts.module.service.ModuleService"></bean>
	<!--角色功能service-->
	<bean id="roleFunctionService" parent="baseService" class="com.dlts.rolefunction.service.RoleFunctionService"></bean>
	<!--资费service-->
	<bean id="feeService" parent="baseService" class="com.dlts.fee.service.FeeService"></bean>
	<!--账务service-->
	<bean id="accountService" parent="baseService" class="com.dlts.account.service.AccountService">
		<property name="serviceService" ref="serviceService"></property>
	</bean>
	<!--服务器service-->
	<bean id="hostService" parent="baseService" class="com.dlts.host.service.HostService"></bean>
	<!--业务service-->
	<bean id="serviceService" parent="baseService" class="com.dlts.service.service.ServiceService">
		<property name="accountService" ref="accountService"></property>
		<property name="feeService" ref="feeService"></property>
		<property name="hostService" ref="hostService"></property>
	</bean>
	<!--账单service-->
	<bean id="billService" parent="baseService" class="com.dlts.bill.service.BillService">
		<property name="accountService" ref="accountService"></property>
		<property name="serviceService" ref="serviceService"></property>
	</bean>
	<bean id="jobtask"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!--             调用的类 -->
		<property name="targetObject">
			<ref bean="billService" />
		</property>
		<!--             调用类中的方法 -->
		<property name="targetMethod">
			<value>updateTotalMonthCost</value>
		</property>
	</bean>
	<!--         定义触发时间 -->
	<bean id="doTime" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="jobtask" />
		</property>
		<!--             cron表达式 -->
		<property name="cronExpression">
			<value>0 27 15 * * ?</value>
		</property>
	</bean>
	<!--         总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序  -->
	<bean id="startQuertz" lazy-init="false" autowire="no"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="doTime" />
			</list>
		</property>
        </bean>
</beans>